# mysql配置
host: 127.0.0.1
port: 23306
user: root
pass: 123456
#host: 127.0.0.1
#port: 23306
#user: root
#pass: 123456
charset : utf8
slave_id: 1002 #slave ID
flavor: mysql

pos_type: file  # only support file
pos_file: "run/pos.json"  # only support file

rules:
#    test:
#      - tb_symptom_timeaxis1
#      - tgo b_symptom_timeaxis
    test:
      - test
#    db_kit:
#      - tb_symptom_timeaxis

endpoint: stdio
